<div class="d-flex justify-content-center align-items-center ">
  <div class="card w-50 shadow-lg rounded">
    <div class="card-header text-center bg-primary text-white">
      <h5>Sign In</h5>
    </div>
    <div class="card-body d-flex flex-column justify-content-center align-items-center">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="confirmLogin()">
        <div class="mb-3">
          <label for="username" class="form-label">UserName:</label>
          <input type="text" name="username" id="username" placeholder="Enter name here" formControlName="id">
          @if(loginForm.get('id')?.hasError('required')) {
          <div class="text-danger">Name is Required</div>
          } @else if(loginForm.get('id')?.hasError('minlength')) {
          <div class="text-danger">Username has to be at least 5 characters.</div>
          }
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" name="password" id="password" placeholder="Enter Password Here"
            formControlName="password">
          @if(loginForm.get('id')?.hasError('required')) {
          <div class="text-danger">Password is Required</div>
          } @else if(loginForm.get('id')?.hasError('minlength')) {
          <div class="text-danger">Password has to be at least 5 characters.</div>
          }
        </div>
        <div class="mb-3">
          <div class="d-flex justify-content-center">
            <button class="btn btn-success w-50" (click)="confirmLogin()">Sign In</button>
          </div>
        </div>

        <div class="mt-3">
          <p>
            <span>Don't have an account?</span>
            <a routerLink="/register" routerLinkActive="router-link-active">
              <button class="btn btn-info">Register</button>
            </a>
          </p>
        </div>

      </form>
    </div>
  </div>

</div>